@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-900;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit font-bold;
  }

  p,
  span,
  a,
  button,
  input,
  textarea,
  select {
    @apply font-roboto;
  }
}

@layer components {
  .container-custom {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn-primary {
    @apply px-6 py-3 text-white transition-all duration-300 bg-black rounded-md hover:bg-gray-800 hover:shadow-lg active:scale-95;
  }
  
  .btn-secondary {
    @apply px-6 py-3 transition-all duration-300 bg-white border border-gray-300 rounded-md hover:bg-gray-50 hover:shadow-md active:scale-95;
  }
}

/* Masquer la barre de défilement tout en permettant le défilement */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
